.iphone-user {
  height: 667px;
  position: relative;
  width: 375px;
  
  .iphone-user_main {
    a {
      text-decoration: none;
    }
  }
  
  .log-out {
    align-items: center;
    bottom: 2.06rem;
    display: flex;
    justify-content: center;
    left: 1.44rem;
    position: absolute;
  
    button {
      background: #02C39A;
      border-radius: 5px;
      color: #FFFFFF;
      font-family: PingFangSC-Regular;
      font-size: 17px;
      height: 3.06rem;
      width: 20.5rem;
    }
  }
}

