.iphone-user_activity {

  p {
    margin: 0;
  }
  .iphone-user_activity-number {
    color: #FFFFFF;
    font-family: PingFangSC-Medium;
    font-size: 18px;
  }

  .iphone-user_activity-name {
    color: #5F5F5F;
    font-family: PingFangSC-Regular;
    font-size: 10px;
  }
}