.smart-bin-container {
  display: flex;
}

.bin-container {
  background-color: #fff;
  height: 80%;
  margin: 0 1.5rem;
  .current-status {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    font-size: 1.5rem;
    img {
      width: 5rem;
      height: 3rem;
    }
  }
}