.smart-bin {
  position: relative;
  width: 25%;
  padding: 1.5rem;

  img {
    width: 100%;
  }

  .bin-id {
    position: absolute;
    top: 4rem;
    left: 5.8rem;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FFFFFF;
  }

  .bin-percentage {
    position: absolute;
    bottom: 8rem;
    left: 6rem;
  }
}