.iphone-user_collapse-title {
  align-items: center;
  background: #FFFFFF;;
  border: 1px solid #DADADA;
  display: flex;
  height: 3.06rem;
  padding-left: 1.44rem;
  position: relative;

  .iphone-user_icon {
    margin-right: 0.58rem;
    width: 1.14rem;
  }

  p {
    color: #343434;
    font-family: PingFangSC-Regular;
    font-size: 14px;
  }

  .iphone-user_right-arrow {
    position: absolute;
    right: 1.63rem;
    width: 0.42rem;
  }

  .iphone-user_down-arrow {
    position: absolute;
    right: 1.63rem;
    width: 0.75rem;
  }
}

.iphone-user_collapse-content-disabled {
  display: none;
}

.iphone-user_collapse-content {
  font-family: PingFangSC-Regular;
  font-size: 12px;
  color: #9B9B9B;
  display: flex;
  width: 20.56rem;
  border-bottom: 1px solid #DADADA;
  height: 2.94rem;
  align-items: center;
  margin: 0 1.8rem 1.63rem 1.8rem;
  justify-content: space-between;

  :last-child {
    font-family: PingFangSC-Regular;
    font-size: 10px;
    color: #9B9B9B;
  }
}