.iphone-user_header {
  background-image: linear-gradient(-90deg, #64ACCA 0%, #2BB0B5 100%);
  height: 11.31rem;
  padding: 1.32rem;
  width: 20.8rem;
  
  .iphone-user_info {
    display: flex;
    flex-direction: row;
    position: relative;

    .iphone-user-avatar {
      height: 4.37rem;
      width: 4.37rem;
    }

    .iphone-user-statistics {
      margin: 0 0 0 0.76rem;

      p {
        color: #343434;
        font-family: PingFangSC-Medium;
        font-size: 16px;
      }

      div {
        border: 1px solid #F3F3F4;
        border-radius: 1rem;
        color: #FFFFFF;
        display: inline-block;
        font-family: HelveticaNeue-BoldItalic;
        font-size: 9px;
        letter-spacing: 0;
        padding: 0 0.2rem;
      }

      .iphone-user-level {
        margin: 0 0.38rem 0 0;
      }
    }

    .iphone-user_share {
      height: 1.08rem;
      position: absolute;
      right: 0;
      top: 0;
      width: 1.08rem;
    }
  }

  .iphone-user_activities {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
  }
}