.iphone-find-bin_header {
  align-items: center;
  background-image: linear-gradient(-90deg, #64ACCA 0%, #2BB0B5 100%);
  display: flex;
  height: 2.75rem;
  justify-content: center;
  position: relative;
  width: 23.44rem;

  a {
    left: 1.44rem;
    position: absolute;
    
    img {
      height: 1.3rem;
      width: 0.8rem;
    }
  }

  div {
    color: #FFFFFF;
    font-family: PingFangSC-Regular;
    font-size: 17px;
    letter-spacing: 0;
  }
}