.header-container {
  display: flex;
  height: 50px;

  .left-header {
    background-color: #028090;
    width: 6.8rem;
    img {
      width: 2.5rem;
      padding: 1rem 1rem 1rem 3.5rem;
    }
  }

  .right-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(-90deg, #64ACCA 55%, #2BB0B5 90%);
    width: 100%;
    .header-title {
      font-family: PingFangSC-Semibold;
      font-size: 16px;
      color: #FFFFFF;
      letter-spacing: 0;
      padding-left: 3rem;
    }
    img {
      width: 1rem;
      margin: 1.3rem;
    }
  }
}