@import '../../../style/colors.scss';

.main-container {
  display: flex;
  flex-direction: row;
  width: 1024px;
  height: 718px;
}

.router-container {
  background-image: linear-gradient(0deg, #77E8D0 6%, #028090 100%);
  width: 6.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    list-style: none;
    padding-left: 0;
  }
  img {
    width: 3rem;
    padding: 1rem;
  }
  hr {
    border: 1px solid #16818B;
  }
}

.content-contaniner {
  background-color: #f5f5f5;
  width: 915.2px;

  .map {
    height: 40.31rem;
    margin-left: 1.87rem;
  }
}